{% for block in section.blocks %}
  <div
    class="{{ section.settings.text_align }}"
    style="background-color: {{ block.settings.bg_color }}; color: {{ block.settings.text_color }};"
  >
    {{ block.settings.text }}
  </div>
{% endfor %}
{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "class": "announcement-bar-section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "select",
      "label": "Text Alignment",
      "id": "text_align",
      "options": [
        {
          "value": "text-left",
          "label": "Text left"
        },
        {
          "value": "text-center",
          "label": "Text Center"
        },
        {
          "value": "text-right",
          "label": "Text right"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.announcement-bar.blocks.announcement.settings.text.default",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#000"
        }
      ]
    }
  ]
}
{% endschema %}
