@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    display: grid;
    grid-template-areas: "header-logo header-menu header-icons";
    grid-template-columns: 1fr 2fr 1fr;

    .header__logo{
        grid-area: header-logo;
    }
    .header__menu{
        grid-area: header-menu;
    }
    .header__icons{
        grid-area: header-icons;
    }
    @media (max-width: 786px){
        grid-template-areas: "header-menu header-logo header-icons";
        grid-template-columns: 1fr 2fr 1fr;
    }

    .nav__item{
        &:hover{
            .nav__item-submenu{
                display: block;
            }
        .nav__item-submenu{
            display: none;
        }
        }
    }
}

.page-width{
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 1rem;
}
.shopify-payment-button{
    button{
        @apply bg-black text-white rounded-sm
    }
}

.button__primary{
    @apply bg-black text-white my-2 py-3 px-6 rounded-sm flex items-center
}
.product-form__input{
    //select lable after checked media input
    input[type='radio']:checked + label{
        @apply bg-black text-white;
    }
}